* {

  border: none;
  box-sizing: border-box;
}

/* makes header logo centered and removes underline*/
h1, a {
  text-align: center;
  text-decoration: none;
}

.controls-area {
  text-align: center;
}

.player-icon {
  margin-top: 4em;
  float: left;
  margin-right: 6.5em;
  padding-bottom: 2em;
  margin-left: 1em;
  
}

.computer-icon {
  margin-top: 1em;
 float: left;
  margin-right: 5em;
  margin-left: 1em;
}



.player-box {
  height: 6em;
  width: 6em;
  border: solid;
  float: right;
  margin-top: 2em;
  margin-right: 1em;
}

.computer-box {
  height: 6em;
  width: 6em;
  border: solid;
  float: right;
  margin-top: 0.145em;
  margin-right: 1em;
}

