* {
  border: none;
  box-sizing: border-box;
}

/* makes header logo centered and removes underline*/
h1, a {
  text-align: center;
  text-decoration: none;
}

.controls-area {
  text-align: center;
}

.player {
  margin-top: 1rem;
  margin-bottom: 2rem;
}