/*for mobile phones 480px or less
/*styles the whole document*/
* {
  border: none;
  box-sizing: border-box;
}

/*styles the body*/
body{
  background-color: #000060;
  font-family: 'Secular One', sans-serif;
  margin-top: auto;
}

/*styles the play, restart and music buttons*/
.play-button,.restart-button, .music-button {
  border: solid #ffffff;
  background-color: #000060;
  color: #ffffff;
  border-radius: 5px;
}
 
/*adds a mouse hover effect to play, restart and music buttons*/
.play-button:hover, .restart-button:hover, .music-button:hover {
  border: solid #ff8000;
  color: #ff8000;
}


/* styles header logo, centers and removes underline*/
h1, a {
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  font-family: 'Catamaran', sans-serif;
  margin-top: auto;
  margin-bottom: auto;
}

/*adds a mouse hover to header*/
h1:hover {
  color: #ff8000;
}

p {
  color: #ffffff;
}

.controls-area {
  text-align: center;
}

/*sends player icon to the left*/
.player-icon {
  margin-top: 3em;
  float: left;
  margin-right: 6.5em;
  padding-bottom: 2em;
  margin-left: 1em;
  
}

/*sends computer icon to the right*/
.computer-icon {
  margin-top: 1em;
  float: left;
  margin-right: 1em;
  margin-left: 1em;
}

/*sends playerbox to the right*/
.player-box {
  height: 6em;
  width: 6em;
  float: right;
  margin-top: 1em;
  margin-right: 1em;
  background-color: #ffffff;
  border-radius: 5px;
}

/*sends computerbox to the right*/
.computer-box {
  height: 6em;
  width: 6em;
  float: right;
  margin-top: auto;
  margin-right: 1em;
  background-color: #ffffff;
  border-radius: 5px;
}

.stage-area {
  margin-top: 15.5rem;
  text-align: center;
}

.score-area {
  text-align: center;
  margin-top: -2rem;
}
.scores {
  display: inline-block;
  padding-left: 1rem;
  padding-right: 1rem;
}

.gesture-select-area {
  text-align: center;
  margin-top: -1rem;
  margin-bottom: -3.5rem;
}

.hand-gesture-row1 {
  margin-bottom: 0.4em;
}

.button-rock, .button-paper, .button-scissors, .button-lizard, .button-spock {
  margin-left: 1rem;
  margin-left: 1rem;
  font-size: 3rem;
  background-color: #ffffff;
  color: #000000;
  width: 4rem;
  border-radius: 5px;
}

.button-rock:hover, .button-paper:hover, .button-scissors:hover, .button-lizard:hover, .button-spock:hover {
  background-color: #ff8000;
}

footer {
  text-align: center;
  margin-top: 4.5rem;
}

.facebook, .twitter, .instagram, .youtube {
  font-size: 1.5rem;
  margin-left: 1rem;
  margin-left: 1rem;
  border: none;
  background-color: #000060;
  color: #ffffff;
}

.facebook:hover, .twitter:hover, .instagram:hover, .youtube:hover {
  color: #ff8000;
}

.copyright {
  margin-top: -0.6rem;
  margin-bottom: -1rem;
  font-size: 0.8rem;
  color: #ffffff;
}

/* hides all the hand gesture images inside of the player and computer boxes*/
img.hidden {
  height: 5em;
  width: 5em;
  margin-left: 0.3em;
  margin-top: 0.3em;
  display: none;
}

/* to test hand gesture images are displaying inside the player box*/
.rock.player {
  display: none;
}

/* to test hand gesture images are displaying inside the computer box*/
.rock.computer {
  display: none;
}

/* modals background code gotten form w3sshools*/
.how-to-play-modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 1em;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4);

}

/* how to play modal */
.how-to-play-content {
  background-color: #ffffff;
  color: #000000;
  margin: auto;
  padding: 1em;
  border: 1px solid #888;
  width: 80%;
  font-size: 0.85rem;
}

.how-to-play-content p {
  color: #000000; 
  margin-top: auto;
}

.how-to-play-content h1 {
  color: #000000; 
}

/* The Close Button for how to play modal*/
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.round-modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 1em;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0,0,0); 
  background-color: transparent;
}

.round-win-content, .round-lose-content, .round-draw-content {
  background-color: #ffffff;
  margin: auto;
  padding: 1em;
  border: 1px solid #888;
  width: 80%;
  font-size: 0.85rem;
}

.round-win-content p, .round-lose-content p, .round-draw-content p {
  color: #000000;
}

.game-modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 1em;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0,0.4);
}

.game-win-content, .game-lose-content, .game-draw-content {
  background-color: #ffffff;
  margin: auto;
  padding: 1em;
  border: 1px solid #888;
  width: 80%;
  font-size: 0.85rem;
}

.game-win-content p, .game-lose-content p, .game-draw-content p{
  color: #000000;
}

/*media queries for mobile phones at least 335px*/
@media only screen and (min-width: 335px) {
  .computer-icon {
    margin-right: 3em;
  }
}

/*media queries for mobile phones moto g4 & S5 at least 360px*/
@media only screen and (min-width: 360px) {
  .computer-icon {
    margin-right: 4em;
  }

  .controls-area {
    margin-bottom: 1rem;
  }

  .stage-area {
    margin-top: 18rem;
  }

  .gesture-select-area {
    margin-bottom: -2rem;
  }
}

/*media queries for mobile phones at least 367px*/
@media only screen and (min-width: 367px) {
  .computer-icon {
    margin-right: 4em;
  }

  .controls-area {
    margin-bottom: 1rem;
  }

  .stage-area {
    margin-top: 18rem;
  }

  .gesture-select-area {
    margin-bottom: -2rem;
  }
}

/*media queries for mobile phones at least 383px*/
@media only screen and (min-width: 383px) {
  .computer-icon {
    margin-right: 5em;
  }
}

/*media queries for mobile phones at least 399px*/
@media only screen and (min-width: 399px) {
  .computer-icon {
    margin-right: 7em;
  }
}

/*media queries for mobile phones Pixel 2 at least 411px*/
@media only screen and (min-width: 411px) {
  .computer-icon {
    margin-right: 6em;
  }

  .controls-area {
    margin-bottom: 3rem;
  }

  .stage-area {
    margin-top: 21rem;
  }

  .gesture-select-area {
    margin-bottom: 6rem;
  }
}

/*media queries for mobile phones at least 415px*/
@media only screen and (min-width: 415px) {
  .computer-icon {
    margin-right: 8em;
  }
}

/*media queries for mobile phones at least 447px*/
@media only screen and (min-width: 447px) {
  .computer-icon {
    margin-right: 9em;
  }
}

/*media queries for mobile phones at least 463px*/
@media only screen and (min-width: 463px) {
  .computer-icon {
    margin-right: 10em;
  }
}

/*media queries for mobile phones at least 479px*/
@media only screen and (min-width: 479px) {
  .computer-icon {
    margin-right: 11em;
  }
}

/*media queries for iPads, Tablets at least 480px*/
@media only screen and (min-width: 480px) {
  h1 {
    font-size: 2.1rem;
  }

  .game-area {
    padding: 1em;
  }
}

/*media queries for iPads, Tablets at least 527px*/
@media only screen and (min-width: 527px) {
  .computer-icon {
    margin-right: 12em;
    margin-top: 4.5em;
  }

  .player-box {
    height: 7em;
    width: 7em;
    margin-bottom: 2.5em;
  }
  
  /*sends computerbox to the right*/
  .computer-box {
    height: 7em;
    width: 7em;
  }
}

/*media queries for iPads, Tablets at least 611px*/
@media only screen and (min-width: 611px) {
  .computer-icon {
    margin-right: 13em;
  }

  .button-rock, .button-paper, .button-scissors, .button-lizard, .button-spock {
    font-size: 3.5rem;
    width: 4.5rem;
  }
}

/*media queries for iPads, Tablets at least 627px*/
@media only screen and (min-width: 627px) {
  .computer-icon {
    margin-right: 14em;
  }
}

/*media queries for iPads, Tablets at least 642px*/
@media only screen and (min-width: 642px) {
  .computer-icon {
    margin-right: 15em;
  }
}

/*media queries for iPads, Tablets at least 659px*/
@media only screen and (min-width: 659px) {
  .computer-icon {
    margin-right: 16em;
  }
}

/*media queries for iPads, Tablets at least 675px*/
@media only screen and (min-width: 675px) {
  .computer-icon {
    margin-right: 17em;
  }
}

/*media queries for iPads, Tablets at least 691px*/
@media only screen and (min-width: 691px) {
  .computer-icon {
    margin-right: 18em;
  }
}

/*media queries for iPads, Tablets at least 707px*/
@media only screen and (min-width: 707px) {
  .computer-icon {
    margin-right: 19em;
  }
}

/*media queries for iPads, Tablets at least 723px*/
@media only screen and (min-width: 723px) {
  .computer-icon {
    margin-right: 50%;
  }
}

/*media queries for small screens and laptops at least 780px*/
@media only screen and (min-width: 780px) {
  .player-icon {
    margin-top: 1.5em;
    float: left;
    margin-right: 1em;
    padding: auto;
    margin-left: 1em;
    
  }
  
  .computer-icon {
    margin-top: 1.5em;
    float: left;
    margin-right: 1em;
    margin-left: 1em;
    padding: auto;
  }

  .player-box {
    height: 7em;
    width: 7em;
    margin-bottom: auto;
    margin-top: auto;
    margin-right: auto;
  }
  
  .computer-box {
    height: 7em;
    width: 7em;
    margin-bottom: auto;
    margin-right: auto;
  }

  
  .player {
    float: left;
    margin-left: 10%;
  }

  .computer {
    float:right;
    margin-right: 10%;
  }

  .hand-gesture-row1{
    display: inline;
  }

  .hand-gesture-row2{
    display: inline;
  }

  .stage-area {
    margin-top: 30%;
  }

}

/*media queries for small screens and laptops at least 800px*/
@media only screen and (min-width: 800px) {
  h1 {
    font-size: 2.5rem;
  }
  
  .player-box {
    height: 8em;
    width: 8em;
  }
  
  .computer-box {
    height: 8em;
    width: 8em;
  }

  .button-rock, .button-paper, .button-scissors, .button-lizard, .button-spock {
    font-size: 4rem;
    width: 5rem;
  }

  .stage-area {
    margin-bottom: 3rem;
  }
  
  .score-area {
    margin-bottom: 2rem;
  }

}

/*media queries for desktops and large screens at least 1025px*/
@media only screen and (min-width: 1025px) {
  .player-box {
    height: 9em;
    width: 9em;
  }
  
  .computer-box {
    height: 9em;
    width: 9em;
  }

  .player-icon {
    margin-top: 15%;

  }
  
  /*sends computer icon to the right*/
  .computer-icon {
    margin-top: 15%;

  }

  .button-rock, .button-paper, .button-scissors, .button-lizard, .button-spock {
    font-size: 4rem;
    width: 5rem;
  }

  .stage-area {
    margin-bottom: 3rem;
  }
  
  .score-area {
    margin-bottom: 2rem;
  }

}

/*media queries for desktops and large screens at least 1100px*/
@media only screen and (min-width: 1100px) {
  .player {
    margin-left: 15%;
  }

  .computer {
    margin-right: 15%;
  }

}

/*media queries for desktops and large screens at least 1200px*/
@media only screen and (min-width: 1200px) {
  .player {
    margin-left: 20%;
  }

  .computer {
    margin-right: 20%;
  }

  .stage-area {
    margin-top: 20%;
  }

}


